<!DOCTYPE html>
<html>
  <head>
    <title>MovieReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container-fluid">
      <div class="row">
  		  <%= render 'common/navbar' %>
      </div>
      <div id="wrap">
        <div id="main" class="clear-top">
    		<%= render 'common/flashes' %>
    		<%= yield %>
        </div>
      </div>
  	</div>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= yield :handwrite_javascript  %>
  </body>
  	<%= render 'common/footer' %>
</html>
